//-model, data
-
    var header = '#experience'
    var experienceList = [
        {
            title: 'Junior Front-End Developer',
            company: 'BitBee LTD',
            date: '01/2019 - present',
            responsabilityList: [
                'Help and support members improving current aptitudes and gaining new skill sets.',
                'Developing web pages using technologies including HTML, CSS and JavaScript.',
                'Optimising websites for all multimedia platforms.',
            ]
        },
        {
            title: 'Personal Assistant',
            company: 'R S WIND LIMITED',
            date: '06/2018 - 01/2019',
            responsabilityList: [
            ]
        },
        {
            title: 'Team Leader',
            company: 'City Abseiling LTD',
            date: '09/201 - 05/2018',
            responsabilityList: [
            ]
        },
        {
            title: 'Phisiotherapist',
            company: 'Kineto Medical Life',
            date: '06/2015 - 07/2017',
            responsabilityList: [
            ]
        }
    ]

//- view, presentation
//- CSS "+" :checked
    input
    controlled container (div, or whatever)

#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")
    //-label(for="experience-default") &times;
    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon-plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability